@using Vidlyr.ViewModel
@model CustomerFormViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (@Html.BeginForm("Save", "Customer"))
{
    <div class="form-control">
        @Html.LabelFor(m => m.Customer.Name,new {@class= "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-control">
        @Html.LabelFor(m => m.Customer.BirthdayDate, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Customer.BirthdayDate,"{0:d MMM yyyy}", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-control">
        @Html.Label("Subscribed for Newsletter", new {@class="col-lg-2 control-label"})
        <div class="col-lg-10">
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
        </div>
    </div>

    <div class="form-control">
        @Html.LabelFor(m => m.Customer.MembershipType, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "id", "MemberShipType"), "--SELECT--", new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary">Save</button>

}

