@using Vidlyr.ViewModel
@model NewCustomerViewModel

@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>New Customer</h2>
@using (@Html.BeginForm("Create", "Customer"))
{
    <div class="form-control">
        @Html.LabelFor(m => m.Customer.Name,new {@class= "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-control">
        @Html.LabelFor(m => m.Customer.BirthdayDate, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.TextBoxFor(m => m.Customer.BirthdayDate, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-control">
        @Html.Label("Subscribed for Newsletter", new {@class="col-lg-2 control-label"})
        <div class="col-lg-10">          
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter)
        </div>
    </div>

    <div class="form-control">       
        @Html.LabelFor(m => m.MembershipTypes, new { @class = "col-lg-2 control-label" })
        <div class="col-lg-10">
            @Html.DropDownListFor(m => m.MembershipTypes, new SelectList(Model.MembershipTypes, "Id", "MemberShipType"), "--SELECT--", new { @class = "form-control" })
        </div>
    </div>
}

